language: bash

services:
  - docker

before_install:
  # run private registry
  - docker run --rm -d -p 5000:5000 -v "$(pwd)"/test:/auth -e "REGISTRY_AUTH=htpasswd" -e "REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm" -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd registry:2

install:
  # login & push hello world image to test registry
  - echo "testpassword" | docker login http://localhost:5000 --username testuser --password-stdin
  - docker pull hello-world
  - docker tag hello-world localhost:5000/hello-world
  - docker push localhost:5000/hello-world
  # install Bats
  - git clone https://github.com/sstephenson/bats.git
  - bats/install.sh /usr/local

script:
  - bats test/hello-world.bats
